/* src/components/Sidebar.css */

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar button {
  font-size: 20px;
  padding: 15px;
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #444;
}
